body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

#order .h3 {
    justify-content: center;
}
table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #ddd;
}

/* Penambahan style hanya untuk contoh */
td, th {
    padding: 8px;
    border: 1px solid #ddd;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

#spinner {
    display: none;
    text-align: center;
    margin-top: 10px;
}

.success-message, .error-message {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.success-message {
    background-color: #d4edda;
    color: #155724;
}

.error-message {
    background-color: #f8d7da;
    color: #721c24;
}

nav ul li a {
    text-decoration: none;
    color: #333; /* Warna menu */
    transition: color 0.3s ease;
}
