body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5; /* Warna latar belakang */
    font-family: Helvetica;
    color: lightsalmon; /* Warna teks */
    background: linear-gradient(to bottom right, whitesmoke, gold);
    transition: background-color 0.3s ease, color 0.3s ease;
    background-image: url('img/Abstract Nature Art 4K wallpaper.jpg'); /*contoh gambar background pada home */
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

/* Container */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Header */
header {
    background-color: black; /* Warna latar belakang header */
    padding: 20px 0px 0px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.233); /* Bayangan header */
    color: white;
    font-family: Arial;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: transform 0.3s ease;
}

.hide-header {
    transform: translateY(-100%);
}

footer {
    background-color: black; /* Warna latar belakang header */
    padding: 20px 10px;
    font-family: Arial;
    color: white;
}

/* Menu */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white; /* Warna menu */
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #007bff; /* Warna menu saat dihover */
}

/* Konten */
section {
    padding: 20px 0;
}

/* Tombol Mode */
.mode-toggle {
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #007bff; /* Warna tombol mode */
    color: #fff; /* Warna teks tombol mode */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
}

/* Tombol Mode saat dihover */
.mode-toggle:hover {
    background-color: #0056b3; /* Warna tombol mode saat dihover */
    transform: scale(1.1);
}

#home h1 {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding: 50px 50px 0px;
}

h1 {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: lightsalmon;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

.product {
    display: grid;       
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.product img {
    display: block;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 250px;
    width: 250px;
}

.product_final{
    display: grid;       
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.product_final img {
    display: block;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 250px;
    width: 250px;
}

input[type="text"],
    input[type="email"],
    input[type="number"]{
        width: 100%;
    }
    #order {
        background-color: rgba(255, 255, 255, 0);
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
    #order input[type="text"], 
    #order input[type="email"], 
    #order input[type="tel"] {
        width: 25%;
        padding: 5px;
        margin: 5px 0;
        box-sizing: border-box;
        background-color: #fff;
    }
    .button {
        padding: 10px 20px;
        margin: 10px 0;
        cursor: pointer;
        transition: .3s ease-in-out;
        border: none;
        border-radius: 10px;
        text-align: center;
    }
    .button:hover {
        background-color: #000000;
        color: #fff;
    }